/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #body{
 	background-color: #000;
 }

 #container{
 	width: 900px;
 	margin: auto;
 }

 #header{
 	width:900px;
 	height: 150px;
 	background-color:#B99090;
 }

 #logo{
 	width:900px;
 	height: 110px;
 	background-color:#7847DA;
 }

 #menu{
 	width: 900px;
 	height: 40px;
 	background-color:#4B219E;
 }

 #content_h{
 	width: 898px;
 	background-color: #fff;
 	border:solid 1px #ccc;
 }

 #content_b{
 	background-color: #eee;
 	margin: 5px;
 	padding: 5px;
 }

 #footer{
 	width: 900px;
 	height: 80px;
 	background-color: #609E21;
 }